<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="dog" class="com.spring.demo.beans.Dog">
		<property name="name" value="阿黄"></property>
		<property name="weight">
			<value>25</value>
		</property>
	</bean>
	
	<bean id="cars" class="com.spring.demo.beans.Cars">
		<constructor-arg value="xxxx"></constructor-arg>
		<constructor-arg value="yyyy"></constructor-arg>
		<constructor-arg value="360" type="int"></constructor-arg>
	</bean>
	
	<bean id="cars2" class="com.spring.demo.beans.Cars">
		<constructor-arg value="zzzzz"></constructor-arg>
		<constructor-arg value="wwwwww"></constructor-arg>
		<constructor-arg value="360" type="double"></constructor-arg>
	</bean>
	
	<bean id="cars3" class="com.spring.demo.beans.Cars">
		<constructor-arg value="zzzzz"></constructor-arg>
		<constructor-arg value="wwwwww"></constructor-arg>
		<constructor-arg value="36099" type="double"></constructor-arg>
	</bean>
	
</beans>
