<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mybatis.test6.classMapper">

	<!-- 方式一: 嵌套结果: 使用嵌套结果映射来处理重复的联合结果的子集 -->
	<!-- SELECT * FROM class c, teacher t,student s WHERE c.teacher_id=t.t_id AND c.C_id=s.class_id AND c.c_id=1 -->
	<select id="getBeanClassesAndStudentsOne" parameterType="int" resultMap="ClassesAndStudentsOne">
		select * from class c, teacher t,student s where c.teacher_id=t.t_id and c.c_id=s.class_id and c.c_id=#{id};
	</select>

	<resultMap type="Classes" id="ClassesAndStudentsOne">
		<id property="id" column="c_id" />
		<result property="name" column="c_name" />
		<!-- association 一对一用的关联 -->
		<association property="teacher" javaType="Teacher">
			<id property="id" column="t_id" />
			<result property="name" column="t_name" />
		</association>
		<!-- ofType指定students集合中的对象类型 -->
		<collection property="students" ofType="Student">
			<id property="id" column="s_id" />
			<result property="name" column="s_name" />
		</collection>
	</resultMap>

	<!-- 方式二：嵌套查询：通过执行另外一个SQL映射语句来返回预期的复杂类型 -->
	<!-- SELECT * FROM class WHERE c_id=1; -->
	<!-- SELECT * FROM teacher WHERE t_id=1 //1 是上一个查询得到的teacher_id的值 -->
	<!-- SELECT * FROM student WHERE class_id=1 //1是第一个查询得到的c_id字段的值 -->
	<select id="getBeanClassesAndStudentsTwo" parameterType="int" resultMap="ClassAndStudentsTwo">
		select * from class where c_id=#{id};
	</select>
	<resultMap type="Classes" id="ClassAndStudentsTwo">
		<id property="id" column="c_id" />
		<result property="name" column="c_name" />
		<association property="teacher" column="teacher_id" select="getTeacherOne"></association>
		<collection property="students" column="c_id" select="getStudentMap"></collection>
	</resultMap>

	<select id="getTeacherOne" parameterType="int" resultMap="getTeacherBean">
		select * from teacher where t_id=#{id};
	</select>
	<resultMap type="Teacher" id="getTeacherBean">
		<id property="id" column="t_id" />
		<result property="name" column="t_name" />
	</resultMap>
	
	<select id="getStudentMap" parameterType="int" resultMap="StudnetMap">
		select * from student where class_id=#{id};
	</select>
	<resultMap type="Student" id="StudnetMap">
		<id property="id" column="s_id"/>
		<result property="name" column="s_name"/>
	</resultMap>

</mapper>
