<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mybatis.test4.orderMapper">
	<insert id="insertOrder" parameterType="Order">
		insert into orders(order_no, order_price) values(#{orderNo}, #{price});
	</insert>

	<delete id="deleteOrder" parameterType="int">
		delete from orders where order_id=#{id}
	</delete>

	<update id="updateOrder" parameterType="Order">
		update orders set order_no=#{orderNo},order_price=#{price} where order_id=#{id}
	</update>

	<select id="selectOrder" parameterType="int" resultType="Order">
		select order_id id,order_no orderNo,order_price price from orders where order_id=#{id}
	</select>

	<select id="selectAllOrder" resultType="Order">
		select order_id id,order_no orderNo,order_price price from orders
	</select>


	<!-- 用resultMap来实现 -->

	<insert id="insertOrder2" parameterType="Order">
		insert into orders(order_no, order_price) values(#{orderNo}, #{price});
	</insert>

	<delete id="deleteOrder2" parameterType="int">
		delete from orders where order_id=#{id}
	</delete>

	<update id="updateOrder2" parameterType="Order">
		update orders set order_no=#{orderNo},order_price=#{price} where order_id=#{id}
	</update>

	<select id="selectOrder2" parameterType="int" resultType="Order" resultMap="orderBean">
		select * from orders where order_id=#{id}
	</select>

	<select id="selectAllOrder2" resultType="Order" resultMap="orderBean">
		select * from orders
	</select>

	<resultMap type="Order" id="orderBean">
		<id property="id" column="order_id" />
		<result property="orderNo" column="order_no" />
		<result property="price" column="order_price" />
	</resultMap>

</mapper>
