<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<properties resource="db.properties"></properties>

	<typeAliases>
		<!-- <typeAlias type="com.mybatis.bean.User" alias="User"/> -->
		<package name="com.mybatis.bean" />
	</typeAliases>

	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="${driver}" />
				<property name="url" value="${url}" />
				<property name="username" value="${username}" />
				<property name="password" value="${password}" />
			</dataSource>
		</environment>
	</environments>

	<mappers>
		<mapper resource="com/mybatis/test1/userMapper.xml" />
		<mapper resource="com/mybatis/test2/userMapper.xml" />
		<mapper class="com.mybatis.test3.inter.UserMapper" />
		<mapper resource="com/mybatis/test4/orderMapper.xml" />
		<mapper resource="com/mybatis/test5/classMapper.xml" />
		<mapper resource="com/mybatis/test6/classMapper.xml" />
		<mapper resource="com/mybatis/test7/userMapper.xml" />
		<mapper resource="com/mybatis/test8/userMapper.xml" />
	</mappers>
</configuration>
